.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  background: linear-gradient(
    179.2deg,
    rgb(34, 34, 34) 0%,
    rgb(8, 0, 153) 29.7%,
    rgb(118, 6, 166) 63.4%,
    rgba(233, 0, 64, 0.58) 100.1%
  );
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #eef7f7;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #eef7f7;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  line-height: 1;
  position: relative;
  top: -34px;
}

.float-left {
  float: left;
}

.WeatherInfo {
  margin-bottom: 25px;
}
