.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  background: linear-gradient(
    to top,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #fcccf9;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #ffe1bf;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: 400;
  color: #020f75;
  font-size: 64px;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: #020f75;
  line-height: 1;
  position: relative;
  top: -34px;
}

.float-left {
  float: left;
}

.WeatherInfo {
  margin-bottom: 25px;
}
